{%extends 'base/base.html'%}

{%block content%}
{%if hotel %}
<center>
    <h4>id: {{hotel.id}}</h4><tr>
    <h4>Nombre: {{hotel.nombre}}</h4><tr>
    <h4>Preio: {{hotel.precio_hotel}}</h4><tr>
    <h4>Ubicacion: {{hotel.ubucacion}}</h4><tr>
    <h4>Descripcion: {{hotel.descripcion}}</h4><tr>
        {%if servicios %}
        <h3>Servicios</h3>
        {%for servicio in servicios%}
            {{servicio.id}}
            {{servicio.nombre}}
        {%endfor%}
        {%endif%}
</center><hr>
<a href="{% url 'crear_unidad' %} ">+</a>
<table class="table">

    <thead>
        <tr>
            <td>id</td>
            <td>piso</td>
            <td>numero de unidad</td>
            <td>servicios de la unidad</td>
            <td>Acciones</td>
        </tr>
    </thead>

    <tbody>
        {%if unidades%}
            {%for unidad in unidades%}
                <tr>
                    <td>{{unidad.id}}</td>
                    <td>{{unidad.piso}}</td>
                    <td>{{unidad.numero_unidad}}</td>
            
                    <td> 
                        {%for servicio in unidad.servicio_unidad.all %}
                            <ul>    
                                <li>{{servicio.nombre}}</li>
                            </ul> 
                        {%endfor%}
                    </td>
                    <td>
                        <a href="{%url 'editar_unidad' unidad.id %} "><button> editar </button> </a>
                        <a href="{%url 'eliminar_unidad' unidad.id %} "><button> eliminar </button> </a>
                    </td>

                </tr>
            {%endfor%}
        {%else%}
                <h3>No hay unidades registradas</h3>
        {%endif%}
    </tbody>
</table>

{%endif%}


{%endblock%}