{%extends 'base/base.html'%}

{%block content%}
{%if hotel %}
<center>
    <h4>id: {{hotel.id}}</h4><tr>
    <h4>Nombre: {{hotel.nombre}}</h4><tr>
    <h4>Preio: {{hotel.precio_hotel}}</h4><tr>
    <h4>Ubicacion: {{hotel.ubucacion}}</h4><tr>
    <h4>Descripcion: {{hotel.descripcion}}</h4><tr>
</center>
<hr>
{%if servicios %}
{%for servicio in servicios%}
    {{servicio.id}}
    {{servicio.nombre}}
{%endfor%}
{%endif%}
-----------------------
<h3>unidades</h3>
{%if unidades %}


{%for unidad in unidades%}
<ul>
    <li>id - {{unidad.id }} </li>
    <li>numero_unidad - {{unidad.numero_unidad }} </li>
    <li>piso - {{unidad.piso }} </li>
</ul>
{%endfor%}

{%endif%}

{%endif%}


{%endblock%}