 {% extends 'base/base.html' %}
 
{%block content%}
<a href="{%url 'crear' %} ">+</a>

{% if user.is_authenticated%}
    <h3>Bienvenido {{user.username}} - <a href="{%url 'salir' %} ">Salir</a></h3>
{%endif%}

<table class="table ">
    <thead>
        <tr>
            <td>id</td>
            <td>Nombre</td>
            <td>precio</td>
            <td>Ubicacion</td>
            <td>Descripcion</td>
            <td>Acciones</td>
        </tr>
    </thead>
    <tbody>
        {%if object_list %}
        {%for hotel in object_list%}
        <tr>
            <td>{{hotel.id}} </td>
            <td>{{hotel.nombre}} </td>
            <td>{{hotel.precio_hotel}} </td>
            <td>{{hotel.ubucacion}} </td>
            <td>{{hotel.descripcion}} </td>
            <td>
                <a href="{% url  'editar' hotel.id %} "><button>editar</button></a>
                <a href="{%url 'eliminar' hotel.id %} "><button>eliminar</button></a>
            </td>
        </tr>
        {% endfor %}

        {%else%}
        <h1>No hay registros</h1>
        {%endif%}
    </tbody>
</table>

{% endblock%}